<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Sport</title>
  <link rel="stylesheet" href="./Styles/admin.css" />
  <style>
   body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}

  </style>
</head>
<body>
  <h1>Add Sport</h1>
  <form action="/admin/sports/add" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    <label for="name">Sport Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="image_url">Image URL:</label>
    <input type="text" id="image_url" name="image_url" required>
    
    <button type="submit">Submit</button>
  </form>

</body>
</html>
